<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.wangyan">

    <!-- Add internet permision -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_desktop"
        android:label="@string/app_name"

        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.java.wangyan.WelcomeActivity"
            android:theme="@style/WelcomeTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.java.wangyan.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.java.wangyan.NewsDetailActivity"
            android:label="NewsDetail"
            />
        <activity android:name="com.java.wangyan.NewsChannelActivity"
            android:label="Channel Manager"
            />
        <activity android:name="com.java.wangyan.CollectionActivity"
            android:label="Collections"
            />
        <activity android:name="com.java.wangyan.HistoryActivity"
            android:label="History"
            />
        <activity android:name="com.java.wangyan.SearchActivity"
            android:label="Search"
            />
        <activity android:name="com.java.wangyan.SettingActivity"
            android:label="Settings"
            />
    </application>

</manifest>